@page
@model KidsClub.Pages.Messages.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Thank you for message. We will get back to you as soon as we can.</h4>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


