@page
@model KidsClub.Pages.blogs.Index3Model
@{
    <div class="container">
        <div class="d-flex flex-row">
            <div class="col-md-2 me-3">
                <div class="card-header">
                     Blog List
                </div>
                <br>
                  <div class="row">
                        <div class="card whitespacenowrap" >
                            <img class="card-img-top" src="~/Images/beach_2.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">Time spent in vacation</h6>
                                
                                <a asp-page="index2" class="btn btn-primary">Read</a>
                            </div>
                        </div>
                        <div class="card whitespacenowrap" >
                            <img class="card-img-top" src="~/Pictures/nature_2.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">Nature Walks</h6>
                                
                                <a asp-page="index3" class="btn btn-primary">Read</a>
                            </div>
                        </div>
                        <div class="card whitespacenowrap" >
                            <img class="card-img-top" src="~/Pictures/zoo_2.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title">It is Zoo Time</h6>
                                
                                <a asp-page="index4" class="btn btn-primary">Read</a>
                            </div>
                        </div>
                  </div>
            </div>
            <div class="col-md-10 justify-content-center">
                <div class="card-header">
                    Blogs
                </div>
                <div id="header" style="text-align:center;">
                <h4>Nature Walks!</h4>
                <img src="~/Pictures/nature_2.jpg" id="beach">
                </div>
                <div> 
                    <p>No more homework gives you so much time alone time to spend with your friends play anything you want and celebrate because it is the end of school! theres a club you can teach your children with its called Bonita Kid's Club!and come to the fantastic club
                </p>
    <p>Heat,fun,lemonade,and popsicles what do you think i'm thinking of thats right summer! if you give your kid money and return a signed permission slip you can get your kid a field trip to the beach(Limited time offer). Here are the physical activities beach volleyball, building a sand castle, and swimming Here are the mental activities designing a sand castle asking people questions about fish and shelfish</p>
                            <p>"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains."
                            </p>
                </div>
            </div>
        </div>
</div>
}
