@page
@model KidsClub.Pages.blogs.Index1Model
@{
                <div id="header">
                    <h1>
                        OPENING OF Bonita Kids Club!
                    </h1>
                </div>
                <img src="~/Images/vidg2.png"><img>
               <img src="~/Images/ha.png"><img>

                <div id="blog">
                    <i>Here at bonita kids club the kids are all happy and friendly anyone can join the fun. If your kid is lonely this is the place to go. If you want a break from your kid or your kid wants a break from you this is the place to send them.membership is only 1.00 every year.we offer teaching field trips(additional fees) online.bonita kids club is worldwide wich means allthe kids from the entire world can join. they will go online or move to local areas it only matters if you can get there in time.we will also have gaming where you do not have to come if you want to you can play at home.the members newspaper is printable and you can get it here it has jokes,riddles,crossword puzzles,news information(also available here),and tell you about the programmers. your kids might be nervous at first beacuse of all the kids but they will make friends and the supervisors and kids will make your kid welcome.just like school but this is a club wich means there will be more kids and later on friends</i>
                </div>
}
       
