@page
@model KidsClub.Pages.About.IndexModel
@{
    ViewData["Title"] = "About ";
}
<br />
<h4 class="u-align-center u-text u-text-2">Best kids club Education! </h4>
<section class="u-clearfix u-section-3" id="sec-6e64">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-20 u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
                <div class="u-layout-row">
                    <div class="u-size-30 u-size-60-md">
                        <div class="u-layout-col">
                            <div class="u-size-30">
                                <div class="u-layout-row">
                                    <div class="u-align-center-sm u-align-center-xs u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                                        <div class="u-container-layout u-valign-middle-md u-valign-middle-xs u-valign-top-lg u-valign-top-sm u-valign-top-xl u-container-layout-2">
                                            <img src="~/Images/mission.png" class="icon-about" />
                                            <h4 class="u-text u-text-3">Our Mission</h4>
                                            <p class="u-text u-text-4">In order to create a safe environment for kids, we must verify that the members are legitimate. We do this in the following ways.

We charge a minimum membership fee of $1, paid every month.
This reduces bots and online scammers by over 90%
This amount of money per month is not expensive and is very affordable
The site also requires some money to be operational so a little bit of funding will help
We have 3 levels of membership
Public – This does not even require someone to create an account with us. They can just support us by liking our content and subscribing on our social media sites.
Registered Users – These users can like and comment on our content on THIS site but will not be able to send any private messages or play any one-on-one games with anyone. How do you become a registered user?
Pay the fee
Not yet verified
Verified Users – These users have been registered and verified via a recorded video call with the child AND the parent/guardian. This way if this account turns out to be a fraud, scam, fake or harmful, we will take all the information we have and turn it into the authorities. In order to verify, you must do the following.
Register an account and pay the fee
Schedule a time for video verification. You might be required to show a government ID during the call to verify who you are.
We require an authorized adult to agree to our terms and conditions and give permission for their kid to be on our site and be a part of our community.</p>
                                            <a href="~/About/Mission" class="u-link u-link-1">read more</a>
                                        </div>
                                    </div>
                                    <div class="u-align-center-sm u-align-center-xs u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                                        <div class="u-container-layout u-valign-middle-md u-valign-middle-xs u-valign-top-lg u-valign-top-sm u-valign-top-xl u-container-layout-3">
                                            <img src="~/Images/business.png" class="icon-about" />
                                            <h4 class="u-text u-text-5">Vision</h4>
                                                                                       <p class="u-text u-text-6">To create a safe and learning environment for kids online where they can make friends and have fun together.

 In an increasingly polarized world, where adults are busy fighting each other, we want to create a space where kids can learn to play well together and have fun. Maybe when they grow up, they will remember these experiences and tools learned to create a better world where people can get along with each other.

On one hand, kids are being told what to do in a not-so-fun environment all day. Therefore, it would be good to be able to unwind with other kids and have fun. However, on the other hand, there are also many online threats from predators to catfishing to identity theft, etc. So, we want to create an environment where kids can be free and have fun but also verify as much as possible that the other members are legit and safe.

</p>
                                            <a href="~/About/Vision" class="u-link u-link-2">read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="u-size-30">
                                <div class="u-layout-row">
                                    <div class="u-container-style u-image u-layout-cell u-left-cell u-size-30 u-image-1">
                                        <div class="u-container-layout"></div>
                                    </div>
                                    <div class="u-container-style u-image u-layout-cell u-size-30 u-image-2">
                                        <div class="u-container-layout u-valign-middle-xs u-valign-top-lg u-valign-top-md u-valign-top-sm u-container-layout-5"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-30 u-size-60-md">
                        <div class="u-layout-col">
                            <div class="u-container-style u-image u-layout-cell u-right-cell u-size-60 u-image-3" data-image-width="563" data-image-height="789">
                                <div class="u-container-layout"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="u-clearfix u-section-7" id="sec-5b85">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-container-style u-group u-group-1">
            <div class="u-container-layout u-valign-middle u-container-layout-1">
                <h4 class="u-align-center u-text u-text-1">about Us</h4>
                <h2 class="u-align-center u-text u-text-2">We give our Best! </h2>
            </div>
        </div>
        <div class="u-clearfix u-expanded-width u-gutter-24 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-size-20 u-size-30-md">
                        <div class="u-layout-col">
                            <div class="u-align-right u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-1">
                                <div class="u-container-layout u-valign-middle u-container-layout-2">
                                    <h5 class="u-text u-text-3">Our Team</h5>
                                    <p class="u-text u-text-4">Our team consists of trust-worthy supervisors and administrators. All of our staff members are certified to handle your kid(s). We are always quick to handle any situations.  </p>
                                </div>
                            </div>
                            <div class="u-align-right u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-2">
                                <div class="u-container-layout u-valign-middle u-container-layout-3">
                                    <h5 class="u-text u-text-5">We Care</h5>
                                    <p class="u-text u-text-6">We care about the safety and education of your children. Yet, we also try to make the experience as enjoyable as possible. We love children and want the best for them. </p>
                                </div>
                            </div>
                            <div class="u-align-right u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-3">
                                <div class="u-container-layout u-valign-middle u-container-layout-4">
                                    <h5 class="u-text u-text-7">What We Provide</h5>
                                    <p class="u-text u-text-8">We provide a variety of activities. Your kids will learn to play sports and maintain a healthy exercising routine. They will also be provided with healthy snack choices. Every day is a new adventure at Bonita Kids Club! </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-20 u-size-30-md">
                        <div class="u-layout-row">
                            <div class="u-container-style u-layout-cell u-size-60 u-layout-cell-4">
                                <div class="u-container-layout">
                                    <img class="u-expanded-width u-image u-image-1" src="images/561dd25d5211ef5968fea940105750c6.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-20 u-size-60-md">
                        <div class="u-layout-col">
                            <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-5">
                                <div class="u-container-layout u-valign-middle u-container-layout-6">
                                    <h5 class="u-text u-text-9">How We Came To Be</h5>
                                    <p class="u-text u-text-10">Bonita Kids Club was developed by a group of kids! However unbelievable, this organization was entirely founded by young children who wanted other children to have fun together. </p>
                                </div>
                            </div>
                            <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-6">
                                <div class="u-container-layout u-valign-middle u-container-layout-7">
                                    <h5 class="u-text u-text-11">Parents/Guardians</h5>
                                    <p class="u-text u-text-12">At our club, our goal is to make sure that parents are always in the loop. We believe that communication is important to avoid accidents and miscommunication.  </p>
                                </div>
                            </div>
                            <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-7">
                                <div class="u-container-layout u-valign-middle u-container-layout-8">
                                    <h5 class="u-text u-text-13">We Are Developing</h5>
                                    <p class="u-text u-text-14">Everybody needs to remember that this organization is slowly growing and that the fun does not stop here. We want kids from all over the world to communicate, interact, and teach their cultures.  </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
