@page
@model KidsClub.Pages.About.Index2Model
<br />
<h4 style="text-align:center;">Our Mission</h4>
    <p>
    
1.	We charge a minimum membership fee of $1, paid every month.
a.	This reduces bots and online scammers by over 90%
b.	This amount of money per month is not expensive and is very affordable
c.	The site also requires some money to be operational so a little bit of funding will help
2.	We have 3 levels of membership
a.	Public – This does not even require someone to create an account with us. They can just support us by liking our content and subscribing on our social media sites.
b.	Registered Users – These users can like and comment on our content on THIS site but will not be able to send any private messages or play any one-on-one games with anyone. How do you become a registered user?
    </p>
    <p>
We charge a minimum membership fee of $1, paid every month.
This reduces bots and online scammers by over 90%
This amount of money per month is not expensive and is very affordable
The site also requires some money to be operational so a little bit of funding will help
We have 3 levels of membership
Public – This does not even require someone to create an account with us. They can just support us by liking our content and subscribing on our social media sites.
Registered Users – These users can like and comment on our content on THIS site but will not be able to send any private messages or play any one-on-one games with anyone. How do you become a registered user?
Pay the fee
Not yet verified
Verified Users – These users have been registered and verified via a recorded video call with the child AND the parent/guardian. This way if this account turns out to be a fraud, scam, fake or harmful, we will take all the information we have and turn it into the authorities. In order to verify, you must do the following.
Register an account and pay the fee
Schedule a time for video verification. You might be required to show a government ID during the call to verify who you are.
We require an authorized adult to agree to our terms and conditions and give permission for their kid to be on our site and be a part of our community.
    </p>

