@page
@model KidsClub.Pages.About.Index1Model
@{
}
<br />
<h4 style="text-align:center;">Our Vision</h4>
<p>
In an increasingly polarized world, where adults are busy fighting
each other, we want to create a space where kids can learn to play well together and have fun.
Maybe when they grow up, they will remember these experiences
and tools learned to create a better world where people can get along with each other.
On one hand, kids are being told what to do in a not-so-fun environment all day. Therefore, it would be
good to be able to unwind with other kids and have fun. However, on the other hand, there are also many
online threats from predators to catfishing to identity theft, etc. So, we want to create an
environment where kids can be free and have fun but also verify as much
as possible that the other members are legit and safe.
</p>

