@page
@model KidsClub.Pages.Testimonials.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>TblContent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="TblContent.ParentId" class="control-label"></label>
                <select asp-for="TblContent.ParentId" class ="form-control" asp-items="ViewBag.ParentId"></select>
            </div>*@
            
            <div class="form-group">
                <label asp-for="TblContent.FromId" class="control-label"></label>
                <input asp-for="TblContent.FromId" class="form-control" />
                <span asp-validation-for="TblContent.FromId" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="TblContent.Title" class="control-label"></label>
                <input asp-for="TblContent.Title" class="form-control" />
                <span asp-validation-for="TblContent.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblContent.ShortDescription" class="control-label"></label>
                <input asp-for="TblContent.ShortDescription" class="form-control" />
                <span asp-validation-for="TblContent.ShortDescription" class="text-danger"></span>
            </div>
           
            
            <div class="form-group">
                <label asp-for="TblContent.DisplayOrder" class="control-label"></label>
                <input asp-for="TblContent.DisplayOrder" class="form-control" />
                <span asp-validation-for="TblContent.DisplayOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblContent.Qty" class="control-label"></label>
                <input asp-for="TblContent.Qty" class="form-control" />
                <span asp-validation-for="TblContent.Qty" class="text-danger"></span>
            </div>
            
            @*<div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TblContent.IsDefault" /> @Html.DisplayNameFor(model => model.TblContent.IsDefault)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TblContent.IsArchived" /> @Html.DisplayNameFor(model => model.TblContent.IsArchived)
                </label>
            </div>*@
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

