@page
@model KidsClub.Pages.Parent_permission.IndexModel
@{
    ViewData["Title"] = "ParentPermission";
}
<br />
<div class="container">
    <div class="row">
        <div class="col-7 float-start">
            <h4>Parent Permission Form</h4>
            <p>
                Dear Parent,
            </p>
            <p>
                We require your permission to allow your child to participate in our Kid"s club. We want to help kids have fun, socialize and be respectful, kind and loving to each other and their family. We try our best to keep our site safe for kids. However, we are not responsible if anything bad happens between the users of our site. By signing this form, you agree to not hold us responsible if anything happens while or due to using our website. Thank you.
            </p>
            <input class="mb-5" type="text" id="sign">
        </div>
        <div class="col-5 float-end">
            <img class="mt-5 parent-permission-image" src="~/Pictures/happy-family-members-parents-and-their-son-vector-23014369.jpg" />
        </div>
        <div class="float-start col-md mb-12">
        </div>
        <div class="float-start col-md mb-12">
            <button class="mb-5 button-submit">submit</button>
        </div>
    </div>
</div>




