@page
@model IndexModel
@{

    //<head>
       
    //    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    //    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    //    <link rel="stylesheet" href="~/css/table.css" asp-append-version="true" />
    //    <link rel="stylesheet" href="~/KidsClub.styles.css" asp-append-version="true" />
    //    <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
    //    <link rel="stylesheet" href="~/css/School-Education-1.css" media="screen">
    //    <script class="u-script" type="text/javascript" src="~/lib/jquery/dist/jquery.js" defer=""></script>
    //    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>
    //    <script src="https://kit.fontawesome.com/62528729b3.js" crossorigin="anonymous"></script>
    //    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
       
    //</head>

    ViewData["Title"] = "Bonita Kids Home";
    <section class="u-clearfix u-white u-section-1" id="sec-fad6">
            <div class="u-clearfix u-sheet u-sheet-1">
                <div class="u-align-left u-container-style u-group u-similar-fill u-group-1">
                    <div class="u-container-layout u-container-layout-1">
                        <h1 class="u-text u-text-palette-4-base u-text-1" spellcheck="false">Let’s Connect Kids</h1>
                        <h5 class="u-text u-text-2">At Bonita Kids club, children will enjoy themselves a safe environment and make new friends at the same time.</h5>
                    </div>
                </div>
                <div class="u-gradient u-shape u-shape-rectangle u-shape-1"></div>
                <img src="images/firstdayofschoolbacktoschoolphotoideasphotographyhowtotakegreatpictures13.jpg" alt="" class="u-image u-image-default u-image-1">
                <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
                    <div class="u-layout">
                        <div class="u-layout-row">

                            <div class="u-align-center u-container-style u-layout-cell u-left-cell u-palette-2-dark-1 u-size-15 u-size-30-md u-layout-cell-1">
                                <div class="u-container-layout u-valign-middle">
                                    <a href="/Gallery/IndexMain">
                                        <img src="~/Images/gallery.png" class="icon-home" />
                                    </a>
                                    <h3 class="u-text u-text-3">Gallery</h3>
                                </div>
                            </div>
                            <div class="u-align-center u-container-style u-layout-cell u-palette-3-base u-size-15 u-size-30-md u-layout-cell-2">
                                <div class="u-container-layout u-valign-middle">
                                <a href="/About">
                                    <img class="icon-home" src="~/Images/mission.png" />
                                </a>
                                    <h3 class="u-text u-text-body-alt-color u-text-4">Our Mission</h3>
                                </div>
                            </div>
                            <div class="u-align-center u-container-style u-layout-cell u-palette-1-base u-size-15 u-size-30-md u-layout-cell-3">
                                <div class="u-container-layout u-valign-middle">
                                    <a href="/Events/index">
                                        <img src="~/Images/business.png" class="icon-home" />
                                    </a>
                                    <h3 class="u-text u-text-5">Events</h3>
                                </div>
                            </div>
                            <div class="u-align-center u-container-style u-layout-cell u-palette-4-base u-right-cell u-size-15 u-size-30-md u-layout-cell-4">
                                <div class="u-container-layout u-valign-middle">
                                    <a href="/Gallery/Games">
                                        <img src="~/Images/game-console.png" class="icon-home" />
                                    </a>
                                    <h3 class="u-text u-text-6">Games</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section class="u-clearfix u-palette-2-base u-section-2" id="sec-d1bd">
            <div class="u-clearfix u-sheet u-sheet-1">
                <div class="u-clearfix u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-layout-wrap u-layout-wrap-1">
                    <div class="u-layout">
                        <div class="u-layout-col">
                            <div class="u-size-30">
                                <div class="u-layout-row">
                                    <div class="u-align-left u-container-style u-layout-cell u-left-cell u-right-cell u-size-60 u-layout-cell-1">
                                        <div class="u-container-layout u-valign-middle u-container-layout-1">
                                            <h3 class="u-align-left-md u-align-left-xs u-text u-text-1">Note from the president to parents/guardians</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="u-size-30">
                                <div class="u-layout-row">
                                    <div class="u-align-center-lg u-align-center-md u-align-center-xl u-align-left-sm u-align-left-xs u-container-style u-layout-cell u-left-cell u-size-12 u-layout-cell-2">
                                        <div class="u-container-layout u-valign-top">
                                            <div class="u-align-left u-border-3 u-border-white u-line u-line-horizontal u-line-1"></div>
                                        </div>
                                    </div>
                                    <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-48 u-layout-cell-3">
                                        <div class="u-container-layout u-valign-top u-container-layout-3">
                                            <p class="u-align-left-xs u-expanded-width-xs u-text u-text-2">
                                               If you want your kid(s) to have fun you should enroll them in Bonita Kid’s Club where EVERYONE has fun. 
    If you want some time to yourselves, then Bonita Kids Club is a good option because it is a safe and less costly way to ensure your children enjoy every moment. After all, we care about their health, safety, education, and most importantly fun for your children.
    And if you, do you will realize they have increased their Intelligence by 100.99% And they will come home with a smile. SO, SEND YOUR KIDS TO BONITA KID’S CLUB.

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section class="u-clearfix u-section-5" id="sec-bb77">
            <div class="u-clearfix u-sheet u-sheet-1">
                <div class="u-clearfix u-expanded-width u-gutter-46 u-layout-wrap u-layout-wrap-1">
                    <div class="u-layout">
                        <div class="u-layout-row">
                            <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-36 u-layout-cell-1">
                                <div class="u-container-layout">
                                    <img class="u-image u-image-1" src="images/c4f5abfbf6e1318f547819911d40eb34.jpg">
                                    <div class="u-gradient u-shape u-shape-1"></div>
                                    <img class="u-image u-image-2" src="images/bf76ae7aee2f9e595a6c9f6bdefc52a2.jpg">
                                </div>
                            </div>
                            <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-24 u-layout-cell-2">
                                <div class="u-container-layout u-valign-middle u-container-layout-2">
                                    <h2 class="u-text u-text-palette-4-base u-text-1">
                                        What we teach.<br>
                                    </h2>
                                    <p class="u-text u-text-2">
                                        If you decide to send your kid(s) to Bonita Kid’s Club you will realize that they have a ton of fun, but what did they learn? The answers are here. They have learned how to interact with other kids by playing and discussing different subjects. They have learned to influence people toward the right cause, to debate in a respectful way, to be loyal to you and their friends, to fight but only when needed and to learn to control their anger and frustration.
<br>
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section class="u-clearfix u-palette-4-base u-section-6" id="carousel_c2c0">
            <div class="u-clearfix u-sheet u-sheet-1">
                <div class="u-align-left u-container-style u-expanded-width-xl u-expanded-width-xs u-group u-group-1">
                    <div class="u-container-layout u-valign-middle u-container-layout-1">
                        <h3 class="u-text u-text-1">Why do we charge a monthly fee?</h3>
                    </div>
                </div>
                <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
                    <div class="u-gutter-0 u-layout">
                        <div class="u-layout-row">
                            <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                                <div class="u-container-layout u-valign-middle u-container-layout-2">
                                    <p class="u-align-left-sm u-align-left-xs u-text u-text-2">
                                       At Bonita Kids Club, our first priority is the safety of your children and in order to do so, we must take some necessary actions to protect your children. A small monthly fee may prevent a majority of scammers and bots. We kindly would like to explain to you that scammers, bots, etc. are real problems and can easily harm your children. That is why we have created a very small payment to reduce the odds of being harmed.
                                    </p>
                                </div>
                            </div>
                            <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                                <div class="u-container-layout u-valign-top u-container-layout-3">
                                    <p class="u-text u-text-3">
                                        Many scammers always avoid harming websites that ask you to pay a fee. They are looking for a way to harm your child without paying. This fee will keep over 90% of frauds and we assure you that this is the best way to be safe.<br />If you wish to support our cause please donate anything you can. It will be used to bring smile to our kids face.
                                    </p>
                                    <div id="donate-button-container" style="margin-left:35%">
                                        <div id="donate-button"></div>
                                        <script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
                                        <script>
                                        PayPal.Donation.Button({
                                        env:'production',
                                        hosted_button_id:'PRKYCKNHCESGJ',
                                        image: {
                                        src:'https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif',
                                        alt:'Donate with PayPal button',
                                        title:'PayPal - The safer, easier way to pay online!',
                                        }
                                        }).render('#donate-button');
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section class="u-clearfix u-white u-section-8" id="sec-cfa3">
            <div class="u-expanded-width u-palette-2-base u-shape u-shape-rectangle u-shape-1"></div>
            <div class="u-container-style u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-group-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                    <h4 class="u-align-center u-text u-text-1">Precautions</h4>
                    <h2 class="u-align-center u-text u-text-2">PE AND HEALTH</h2>
                </div>
            </div>
            <img src="images/bf46f3252edb2d29641ccb332f377bc9.jpg" class="u-align-left u-image u-image-1">
            <div class="u-gradient u-shape u-shape-rectangle u-shape-2"></div>
            <div class="u-align-left u-container-style u-group u-similar-fill u-white u-group-2">
                <div class="u-container-layout u-padding-12 u-valign-middle-md u-container-layout-2">
                    <h2 class="u-text u-text-3">Our Guidelines</h2>
                    <p class="u-text u-text-4">We keep your children fit in PE. We start by doing warmups and then we play in the fields.
    Your kids will go outside if the temperature is less than 90°.  If it is higher, then they will not go outside. If it is raining then that is a reason to stay inside, sometimes they will take field trips to the park.
    Rest assured that your kids will enjoy it!
    </p>
                    
                </div>
            </div>
    </section>
    <section class="u-align-center u-clearfix u-image u-shading u-section-11" src="~/images/why-smiles-are-important-for-kids.jpg" data-image-width="256" data-image-height="256" id="sec-91d7">
            <div class="u-clearfix u-sheet u-valign-middle u-sheet-1" src="~/images/why-smiles-are-important-for-kids.jpg">
                <span class="banner-text-big">Take a look at some members of the club having the time of their lives!</span>
                <span class="banner-text-medium">These kids are enjoying the club by doing some of their favorite activities.</span>
                <a asp-page="blogs/index" class="u-btn u-button-style u-palette-2-base u-btn-2">Read More</a>
            </div>
    </section>
}
