@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<br />
<div class="col-md-12 text-justify" style="text-align:justify">
<h4>@ViewData["Title"]</h4>

<h5>How We Use the Information We Collect</h5>
<p>We use the information we collect for the following purposes:

to provide our products and services and contract with you, including payment processing and customer support;
to manage our relationship with you, including feedback management and for customer surveys;
to personalize and improve our products and services and your overall customer experience, in particular by improving our existing technologies and developing new products and services and employing profiling technology (unless we notify you separately thereof, this will not include automated individual decisions that have legal effects for you or similarly significantly affect you); 
to provide you with general and personalized electronic and non-electronic direct marketing information and support our targeted advertising initiatives concerning our products and services as well as our business partners’ products and services (including promotions, contests, prize draws, competitions, and sweepstakes);
business analytics, including consumer and operations research, to assess the effectiveness of our sales, online service, marketing, and advertising, and to analyze market trends and (future) customer demand;
to ensure the security of our online services and in-restaurant technology, including the detection, prevention, and investigation of attacks;
to protect against, identify and prevent fraud and other crime, claims and other liabilities;
to protect the rights, safety, health, and security of our customers, our employees, our franchisees, and the general public, and to protect our property; 
to anonymize your information for further internal and external use in a manner that does not identify you;
to comply with legal obligations and our Standards of Business Conduct; and
to establish, exercise or defend a legal claim; 
We may use the information we collect about you in other ways, which we will tell you about at the time we collect it or before we begin using it for those other purposes.
<p>
If we are established in the EU or the European Economic Area (“EEA”) or are otherwise subject to the General Data Protection Regulation (“GDPR”), we process your personal information on the basis of the necessity to perform a contract we have concluded with you or the necessity to take steps at your request prior to entering into such a contract (Article 6(1)(b) GDPR);
our prevailing legitimate interest to personalize and improve your overall customer experience and achieve the purposes set out above (Article 6(1)(f) GDPR);
the necessity to comply with legal obligations to which we are subject (Article 6(1)(c) GDPR); or in some cases, your consent for which we may ask you in a separate process (Article 6(1)(a) GDPR).</p>
</p>

<h5> How We Share the Information We Collect</h5>
<p>We do not sell your personal information and only share your information as described in this Privacy Statement or as otherwise communicated to you at the time we collect your information. Please note that some US state statutes may define a “sale” to include sharing of personal information with third parties for valuable consideration.  Many companies have common arrangements with online advertising networks and analytics companies that may potentially be considered sales under these definitions.  Please reference our Additional Notice for California Consumers in the US Country Specific Addendum (below) for more information.

We may share your personal information with members of the kidsclub Family: The kidsclubs Family consists of kidsclub Corporation.
</p>

<h5>  Children's Privacy Notice</h5>
<p> We understand how important it is to protect your privacy when you use our online services. We are especially committed to protecting the privacy of children who visit or use our online services. For more information on how a specific country protects children’s privacy, please review the country specific addendum.

We urge parents to regularly monitor and supervise their children's online activities. If you have any questions about our children’s privacy practices, please contact us at our Global or Local Data Protection Office using the contact information provided below. If you are contacting a Local Data Protection Office, please choose the office in the country in which you are a customer.
</p>
<p>
    And the fonts were created by these guys:
    <a href="https://www.flaticon.com/free-icons/gear" title="gear icons">Gear icons created by Freepik - Flaticon</a>
</p>
<h5> Thank You</h5>
</div>